[submodule "sources_non_forked/vim-gitgutter"]
	path = sources_non_forked/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "sources_non_forked/table-mode"]
	path = sources_non_forked/table-mode
	url = git@github.com:dhruvasagar/vim-table-mode.git
[submodule "sources_non_forked/gruvbox"]
	path = sources_non_forked/gruvbox
	url = https://github.com/morhetz/gruvbox.git
[submodule "sources_non_forked/vim-unimpaired"]
	path = sources_non_forked/vim-unimpaired
	url = git://github.com/tpope/vim-unimpaired.git
[submodule "sources_non_forked/vim-sensible"]
	path = sources_non_forked/vim-sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule "sources_non_forked/vim-dispatch"]
	path = sources_non_forked/vim-dispatch
	url = https://github.com/tpope/vim-dispatch.git
[submodule "sources_non_forked/Vim-R-plugin"]
	path = sources_non_forked/Vim-R-plugin
	url = https://github.com/vim-scripts/Vim-R-plugin.git
[submodule "sources_non_forked/R-Vim-runtime"]
	path = sources_non_forked/R-Vim-runtime
	url = https://github.com/jalvesaq/R-Vim-runtime.git
